.cardRow{
    display: flex;
    justify-content: center;
}
.card{
    text-align: right;
}
.red{
    color: red;
}

.mail-info {
		font-family: Nunito, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		padding: 16px 36px;
		border-radius: 8px;
		background: white;
		letter-spacing: 0.3px;
		box-shadow: 0px 12px 17px rgba(0,0,0,0.26);
		font-weight: 600;
}
.coupon{
    display: flex;
    justify-content: center;
}
img {
		height: 36px;
		margin-right: 16px;
}
.mail-text {
    font-size: 35px;
}

.bgRed {
    font-size: 2.5rem;
    color: #fff;
    margin: 20px auto;
    background: #d9153d;
    display: initial;
    padding: 3px 4px;
}

[tooltip]{
    position: relative;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index: 100;
    opacity: 0;
    transition: all 250ms ease;
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
    background: #fff;
    text-align: center;
    color: #00afda;
    padding: 4px 8px;
    font-size: 14px;
    min-width: 80px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: all 250ms ease;
}

[tooltip-position ='bottom']::before {
    top: 100%;
    margin-top: 36px;
    transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}

[tooltip-position='bottom']::after {
    top: 100%;
    margin-top: 36px;
    transform: translateX(-50%) translateY(0);
}

[tooltip]:hover::after,
[tooltip]:hover::before {
    opacity: 1;
}
.modal-body h4{
    line-height: 1.4;
}
.modal-body , .modal-header , .modal-footer{
    border: none;
    text-align: center;
}
.modal-footer {
    display: flex;
    justify-content: center;
}
.card-img-top{
    height:100%;
    margin:5em auto
}
.card-title{
    margin-bottom: 20px;
}
/* body{
    font-family: Arial, Helvetica, sans-serif;
} */
.card {
    box-shadow: 0px 14px 9px 0px rgb(34 35 58 / 26%);
    border-radius: 20px;
    /* border: 1px dashed gray; */
    border: 5px double green;

}

section.content {
    min-height: 100vh;
    display: flex;
    align-items: center;
}


